@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
}

.searchTerm {
  width: 99.4%;
  // border-right: none;
  // padding: 5px;
  height: 20px;
  // border-radius: 5px 0 0 5px;
  // outline: none;
  // margin: auto 2px;
}

.searchButton {
  width: 40px;
  height: 36px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.background{
    background-color:rgb(30,30,35);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

.movie_card{
  position: relative;
  display: block;
  width: 800px;
  height: 500px;
  margin: 100px auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  text-align: left;
  
  .minutes{
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.13);
    margin-right: 5px;
    margin-left: 10px;
  }
  .ratingInfo{
    // display: inline-block;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.13);
  }
  .rating{
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.13);
    margin-right: 5px;
  }
  .type{
    display: inline-block;
    color: #cee4fd;
    margin-left: 10px;
  }

  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 25px;
      height: 26%;
      h2{
        color: #fff;
        font-weight: 300;
        margin-top: -5px;
        overflow:auto;
        text-overflow:ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      h4{
        color: #9ac7fa;
        font-weight: 400;
        margin: none none;
        margin-top: -5px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 150px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      display: inline-block;
      padding: 25px;
      height: 20%;
      .text{
        color: #cfd6e1;
      }
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(255,255,255,0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(255,255,255,0.8);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .movie_header{
    width: 55%;
  }

  .movie_header2{
    width: 90%;
  }
  
  .movie_desc{
    width: 50%;
  }

  .movie_desc2{
    width: 90%;
  }
  
  .info_section{
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }
  
  .blur_back{
    width: 50%;
    background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height: auto;
  }

  h2{
    // width: 60%;
  }

  h4{
    // width: 90%;
  }

  .text{
    width: 90%;
  }
  
  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .movie_header{
    width: 100%;
    margin-top: 85px;
  }

  .movie_header2{
    width: auto;
    margin-top: 0px;
  }
  
  .movie_desc{
    width: 100%;
  }

  .movie_desc2{
    width: 100%;
  }

  .movie_social{
    width: 90%;
  }
  
  .info_section{
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }

  .info_section2{
    display: inline-block;
  }
}


#bright{
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
  }
}


#tomb{
  box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
  }
}


#ave{
  box-shadow: 0px 0px 150px -45px rgba(199,147,75, 0.7);
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(199,147,75, 0.7);
  }
}

.error{
  text-align: center;
  color: white;
}

.title{
  text-align: center;
  color: white;
  font-size: large;
}

.instruction{
  text-align: center;
  color: white;
}
.button{
  background-color: #555555;
  border: none;
  position: relative;
  // color: white;
  // padding: 15px 32px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // margin: 4px 2px;
  // position: relative;
  margin-top: 20px;
  padding-top: -200px;
  cursor: pointer;
  top: -15px;
}

.franchise{
  padding-left: 10px;
}

.credits{
          color: rgba(255,255,255,0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          text-align: center;
          &:hover{
            transition: color 0.3s;
            color: rgba(255,255,255,0.8);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
}

.movie_card2{
  position: relative;
  display:inline-block;
  width: 440px;
  height: 500px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  text-align: left;
  
  .minutes{
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.13);
    margin-left: 10px;
    margin-right: 5px;
  }
  .ratingInfo{
    // display: inline-block;
    // margin-top: 10px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.13);
    // margin-right: 5px;
  }
  .rating{
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.13);
    margin-right: 5px;
  }
  .type{
    display: inline-block;
    color: #cee4fd;
    margin-left: 10px;
  }

  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 25px;
      height: 26%;
      h2{
        color: #fff;
        font-weight: 300;
        margin-top: -5px;
        overflow:scroll;
        // text-overflow:unset;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      h4{
        color: #9ac7fa;
        font-weight: 400;
        margin: none none;
        margin-top: -5px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 150px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      display: inline-block;
      padding: 25px;
      height: 20%;
      .text{
        color: #cfd6e1;
      }
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(255,255,255,0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(255,255,255,0.8);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  // .blur_back{
  //   position: absolute;
  //   top: 0;
  //   z-index: 1;
  //   height: 100%; right: 0;
  //   background-size: cover;
  //   border-radius: 11px;
  // }
}

@media screen and (max-width: 960px) {
  .movie_card2{
    width: auto;
  }
}

@media screen and (max-width: 1419px) and (min-width: 960px){
  .movie_card2{
    width: 47%;
  } 
}

.listOfMovies{
  margin: auto 20px;
  text-align: center;
}
